$primary: #000000;
$secondary: #f2f2f2;
$blk-shadows: #baa7b0;
$bone : #dddbcb;
$glass-bone: #dddbdb80;
$glass-primary: #00000099;
$glass-secondary: #f2f2f280;
$rosso-corsa: #d00000;
$shadow: #776d5a;