@use '../abstracts' as *;
@use '../breakpoints' as *;

footer {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  letter-spacing: 0.07rem;

  .last {
    color: $rosso-corsa;
    font-weight: bold;
  }

  @include md {
    grid-template-columns: auto;
    justify-content: center;
  }
  @include lg {
    grid-template-columns: 1fr auto auto;
  }
}