@use './abstracts' as *;

.layout {
  background-image: url('../images/jsandbw.png');
  background-position: -622px;
  background-repeat: no-repeat;
  background-size: auto;
  border: 1px solid red;
  color: $secondary;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow-y: hidden;
  padding: $default-padding;
  width: 100vw;

  .item {
    display: grid;
  }
}